<p>Lauren Benitez</p>
<%= image_tag("pic.jpg", size: "300x300") %>
<p style="color: white; background-color: green">San Diego</p>
<p>Senior</p>
<p style="color:red; font-weight:bold">Fun Fact: I have never sprained or broken a bone despite playing 4 sports.</p>
<p style="color:blue"><u>I'm really excited to learn a hot new technology that is used at so many start ups. I have already learned so much and am looking to learn so much more!</u></p>
<!-- In this view, render your name, a picture of yourself (upload your file into assets/images), where you're from (give it a green background with white text), your year (freshman/sophomore/junior/senior/etc), a fun fact (make the text bold and red!), and what you're most excited about in this class (make the text underlined and change the color to anything you want!) -->